:root {
  --primary-color: #2c3e50;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

button {
  padding: 10px 20px;
  border: 1px solid #cecaca;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bffaa;
}

select.dropdown:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px #007bffaa;
}
