.calendar {
  background: white;
  border-radius: 12px;
  padding: 5px;
  width: 250px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: default;

    &-btn {
      background: transparent;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      padding: 10px;

      &--prev,
      &--next {
        color: #555;
      }

      &--next {
        transform: rotate(180deg);
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 4px;
    text-align: center;
  }

  &__cell {
    aspect-ratio: 1 / 1;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 13px;
    transition: background 0.2s;
  }

  &__weekday {
    font-weight: bold;
    color: #b3b3b3;
    white-space: nowrap;
    cursor: default;

    &.weekend {
      color: #007bff;
    }
  }

  &__day {
    cursor: pointer;

    &:hover {
      background: #eee;
    }

    &.outside {
      color: #ccc;
    }

    &.today {
      border: 1px solid #f5725b;
    }

    &.weekend {
      color: #007bff;
    }

    &.selected {
      background: #fc816c;
      color: white;
      font-weight: bold;
    }

    &.outside {
      color: #ccc;
    }
  }

  &__selected-date {
    font-weight: bold;
    color: white;
  }
}

.weekHighlighted {
  background-color: #f7ac9e;
  color: white;
}
